<div class="max-w-xl mx-auto bg-white rounded-lg shadow-lg p-6">
  <h1 class="text-2xl font-bold mb-4">Todo List</h1>

  <!-- Todo Input -->
  <form id="todo-form" class="mb-4" novalidate #form="ngForm">
    <input
      type="text"
      id="title"
      class="w-full px-4 py-2 rounded-lg border border-gray-300"
      placeholder="Title"
      [(ngModel)]="todoToAdd.title"
      #title="ngModel"
      name="title"
      minlength="3"
      required
    />
    <div
      *ngIf="title.invalid && (title.touched || title.dirty) || isAddFormSubmitted"
      class="text-red-600"
    >
      <small *ngIf="title.errors?.['required']">This is required</small>
      <small *ngIf="title.errors?.['minlength']">Min of 3 characters</small>
    </div>

    <input
      type="text"
      id="description"
      class="mt-2 w-full px-4 py-2 rounded-lg border border-gray-300"
      placeholder="Description"
      [(ngModel)]="todoToAdd.description"
      name="description"
      #description="ngModel"
      minlength="3"
      required
    />
    <div
      *ngIf="
        description.invalid && (description.touched || description.dirty) || isAddFormSubmitted
      "
      class="text-red-600"
    >
      <small *ngIf="description.errors?.['required']">This is required</small>
      <small *ngIf="description.errors?.['minlength']"
        >Min of 3 characters</small
      >
    </div>
    <button
      type="submit"
      class="mt-2 px-4 py-2 bg-blue-500 text-white rounded-lg"
      (click)="onAddSubmit(form)"
    >
      Add Todo
    </button>
  </form>

  <table class="w-full border-collapse border border-gray-300 table-auto">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2">Title</th>
        <th class="px-4 py-2">Description</th>
        <th class="px-4 py-2">Status</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody id="todo-list">
      <tr *ngFor="let todo of todos">
        <td class="border px-4 py-2">{{ todo.title }}</td>
        <td class="border px-4 py-2">{{ todo.description }}</td>
        <td class="border px-4 py-2">
          <select
          id="edit-status-dropdown"
          class="w-full px-4 py-2 rounded-lg border border-gray-300"
          [(ngModel)]="todo.status"
          (change)="updateTodoStatus(todo)"
          >
            <option value="Todo">Todo</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </td>
        <td class="border px-4 py-2 flex">
          <button
            class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-blue-500 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mr-2"
            (click)="updateTodo(todo)"
          >
            Edit
          </button>

          <button
            class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-red-500 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            (click)="deleteTodo(todo.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  id="edit-modal"
  class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 flex justify-center items-center"
  *ngIf="showUpdateModal"
>
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-xl font-bold mb-4">Edit Todo</h2>
    <input
      type="text"
      id="edit-title-input"
      class="w-full px-4 py-2 rounded-lg border border-gray-300 mb-4"
      placeholder="Title"
      [(ngModel)]="this.todoToUpdate.title"
    />
    <input
      type="text"
      id="edit-description-input"
      class="w-full px-4 py-2 rounded-lg border border-gray-300 mb-4"
      placeholder="Description"
      [(ngModel)]="this.todoToUpdate.description"
    />
    <div class="flex justify-end">
      <label
        for="modal-toggle"
        class="mr-2 px-4 py-2 bg-gray-400 text-white rounded-lg cursor-pointer"
        (click)="toggleUpdateModal()"
        >Cancel</label
      >
      <button
        id="save-edit"
        class="px-4 py-2 bg-blue-500 text-white rounded-lg"
        (click)="saveUpdateTodo()"
      >
        Save
      </button>
    </div>
  </div>
</div>

<ng-toast></ng-toast>
